li {
    display: inline;
    margin-left: 2%;
}
li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 120%;
}
.menu1 {
    padding-left: 50%;
}
.container-top{
    background-color: lavender;
}
h1 {
    color: red;
    font-size: 300%;
}
footer {
    background-color: slategray;
    height: 50px;
   
}
footer p {
    margin-left: 40%;
    padding-top: 2%;
}
.container-top img{
    margin-left: 35%;
   
}
