@media only screen and (max-width: 767px) {
    .menu1 {
        padding-left: 30%;
    }
    li a {
        font-size: 100%;
    }
    h1 {
        font-size: 170%;
    }
    .content p{
        font-size: 90%;
    }
    .content1 {
        background-color: white;
        height: 0;
    }
    .main-content1 {
        margin-left: 0;
    }
    h2 {
        font-size: 120%;
    }
    .main-content1 p{
        font-size: 80%;
    }
    .img-bot{
        width: 100%;
    }
    h3 {
        font-size: 90%;
    }
    .content2 {
        background-color: white;
    }
    footer {
       height: 30px;
    }
    footer p{
        margin-left: 30%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .menu1{
        padding-left: 40%;
    }
    h1 {
        font-size: 190%;
    }
    .content p{
        font-size: 90%;
    }
    .content1 {
        background-color: white;
        height: 0;
    }
    .main-content1 {
        margin-left: 0;
    }
    h2 {
        font-size: 160%;
    }
    .main-content1 p{
        font-size: 90%;
    }
    h3 {
        font-size: 90%;
    }
    .content2 {
        background-color: white;
    }
}